* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav {
  background-color: white;
  padding: 0 10em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

li.dropdown {
  display: inline-block;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sub-menu a:hover {
  background-color: black;
  color: white;
}

.dropdown:hover .sub-menu {
  display: block;
}

.company {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding-top: 10px;
}

/* Slideshow container */

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}

.image1 {
  background-image: url(../image/bg.jpg);
}

.image2 {
  background-image: url(../image/about-bg.jpg);
}

.image1 p,
.image2 p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  font-size: 20px;
  margin-top: 300px;
  margin-right: 500px;
  width: 500px;
  text-align: left;
  padding: 10px;
}

/* Card Styles */

.card {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: white;
}

.column {
  width: 25%;
}

.row {
  margin: 0 15px;
  display: flex;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.box-1,
.box-2,
.box-3 {
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 10px;
}

.box-1 {
  background-color: rgba(255, 0, 0, 0.6);
  border: 3px solid red;
}

.box-2 {
  background-color: rgba(0, 100, 0, 0.6);
  border: 3px solid darkgreen;
}

.box-3 {
  background-color: rgba(0, 0, 139, 0.5);
  border: 3px solid darkblue;
}

.box-1.arrow-right::after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 50%;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid red;
  border-bottom: 15px solid transparent;
}

.box-2.arrow-right::after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 50%;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid green;
  border-bottom: 15px solid transparent;
}

.box-1 img,
.box-2 img,
.box-3 img {
  width: 25px;
  height: 30px;
}

/* Form */
.contact-form {
  max-width: 35%;
  margin: auto;
  margin-bottom: 50px;
}

.contact-form h1 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  height: 90px;
}

.contact-form button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.warning {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Footer */
.footer {
  background-color: rgba(0, 0, 0, 0.85);
  display: block;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
}

.copyright {
  color: white;
}

.footer-img {
  display: flex;
  justify-content: center;
}

.footer-img img {
  width: 30px;
  margin-right: 10px;
}
